/* Footer styles */
#site-footer {
  background-color: var(--p4-dark-green-900);
  color: $white;
  font-family: var(--font-family-secondary);
  font-size: $font-size-sm;

  h2 {
    color: $white;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  @include medium-and-up {
    .section-inner {
      display: grid;
      grid-gap: $sp-6;
      grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    }
  }

  nav {
    margin-bottom: $sp-4;
  }

  nav h2 {
    font-size: $font-size-lg;
    margin-bottom: $sp-1x;
  }

  nav ul {
    margin-top: 0;
    padding-left: 0;
  }

  nav li {
    list-style-type: none;
    margin-bottom: $sp-3;
  }

  #site-footer-info {
    grid-column: 1 / 2;
    grid-row: 1 / 1;

    .site-footer-p4-name {
      font-size: $font-size-lg;
      font-family: var(--font-family-primary);
      margin-top: 0;
      margin-bottom: $sp-1x;
    }
  }
}

.illo-credit {
  font-size: $font-size-xs;
  margin-top: $sp-6;
}
