/* Header styles */
#site-header {
  padding: 0;
  margin: 0;
}

#site-header .section-inner {
  align-items: stretch;
  display: flex;
  flex-wrap: nowrap;
  font-family: var(--font-family-secondary);
  padding: 0 $sp-1x;
  width: 100%;
  @include x-large-and-up {
    padding: 0;
  }
}

#site-header-title {
  align-items: stretch;
  background-image: url("img/greenpeace-logo.png");
  background-position: 4px center;
  background-repeat: no-repeat;
  background-size: 83% auto;
  display: flex;
  font-size: 1rem;
  margin: 0;
  text-indent: -9999px;

  a {
    align-items: center;
    cursor: pointer;
    display: block;
    padding: $sp-2;
    width: 25vw;
    min-width: 150px;
    max-width: 200px;

    &:hover {
      text-decoration: none;
    }
  }
}

#site-header-menu {
  align-items: center;
  display: flex;
  margin-left: auto;

  #site-header-menu-label a {
    border: 1px solid var(--color-border-button--secondary);
    border-radius: 4px;
    color: var(--color-border-button--secondary);
    cursor: pointer;
    font-size: $font-size-xs;
    font-weight: 700;
    margin: 0;
    padding: $sp-1 $sp-2;
    transition: 0.2s all;

    &:hover {
      background-color: var(--color-border-button--secondary);
      color: var(--white);
      text-decoration: none;
    }
  }

  @include medium-and-up {
    #site-header-menu-label {
      display: none;
    }
  }

  ul {
    display: none;

    @include medium-and-up {
      align-items: stretch;
      background-color: transparent;
      color: inherit;
      display: flex;
      height: auto;
      margin: 0;
      padding: $sp-1 0 $sp-1 $sp-1;
      position: static;
      width: auto;
    }
  }

  ul.menu-open {
    right: 0;
  }

  li {
    align-items: start;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;

    // Dropdown menus
    ul {
      background: var(--white);
      visibility: hidden;
      opacity: 0;
      min-width: 5rem;
      position: absolute;
      transition: all 0.5s ease;
      display: none;
      top: 50px;
      padding: $sp-2;
      box-shadow: 0 2px 6px rgba(0, 0, 0, .2);

      li {
        clear: both;
        width: 100%;

        &:not(:first-child) {
          margin-top: 10px;
        }

        a {
          font-size: $font-size-xs;
          display: inline-block;
          padding: 0;
          margin-bottom: 0;
          line-height: 1.5rem;
        }

        span {
          display: block;
          color: var(--grey-600);
          font-size: $font-size-xxs;
          margin: 0 1rem;
          line-height: 1.5rem;
        }
      }
    }

    &:hover > ul,
    &:focus-within > ul,
    &:hover,
    ul:focus {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }

  a {
    border-bottom: 3px solid transparent;
    color: inherit;
    display: inline-block;
    font-size: $font-size-sm;
    font-weight: 500;
    margin: 0.3rem 1rem;
    padding: 0.2rem;
    transition: 0.2s all;
    text-decoration: none;
    font-family: var(--font-family-primary);

    &:hover {
      text-decoration: none;
    }

    &:not(.btn):hover {
      border-bottom-color: var(--gp-green-500);
    }

    .chevron {
      display: none;
    }
  }

  li:last-child a {
    margin-right: 0;
  }
}

#modal-site-header-menu-list {
  .modal-inner {
    background-color: var(--white);
    color: var(--grey-900);

    a {
      color: var(--grey-900);
      font-family: var(--font-family-primary);
      font-size: $font-size-lg;
      font-weight: bold;
      margin-bottom: $sp-x;
      text-decoration: none;

      &.modal-close-x {
        border-bottom: none;
      }

      &:not(.btn) {
        border-bottom: 3px solid transparent;

        &.active, &:active, &:focus, &:hover {
          border-bottom: 3px solid var(--grey-900);
          text-decoration: none;
        }
      }

      .chevron {
        display: inline-block;
        width: 16px;
        margin-inline-start: $sp-1;
      }
    }
  }

  .modal-content {
    background-color: transparent;
  }

  ul {
    margin-top: $sp-4;
  }

  li {
    list-style-type: none;
    margin-bottom: $sp-4;

    // Dropdown menus
    ul.dropdown {
      transition: all 0.5s ease;
      display: none;
      padding: 0;
      margin-inline-end: $sp-2;
      border-bottom: 1px solid var(--grey-200);

      li {
        clear: both;
        width: 100%;
        margin-bottom: $sp-2;
        display: flex;
        flex-direction: column;
        align-items: start;

        a {
          font-size: $font-size-xs;
          display: inline-block;
          line-height: 1.5rem;
          padding: 0;
          margin-bottom: 0;
        }

        span {
          display: block;
          color: var(--grey-600);
          font-size: $font-size-xxs;
          line-height: 1.5rem;
        }
      }
    }

    &:hover > ul,
    &:focus-within > ul,
    &:hover,
    ul:focus {
      visibility: visible;
      opacity: 1;
      display: block;
    }
  }
}

@media (max-width: 480px) {
  #modal-site-header-menu-list .modal-inner a.btn-secondary {
    border: 1px solid var(--p4-dark-green-800);
    border-radius: 4px;
    color: var(--p4-dark-green-800);
    cursor: pointer;
    font-size: .9375rem;
    font-weight: 700;
    margin: 0;
    padding: $sp-2;
    transition: .2s all;
  }

  #modal-site-header-menu-list ul li ul {
    display: none;

    &.shown {
      display: block;
    }
  }
}
