/* Homepage styles */
body.homepage {
  background-color: #fff;
}

#homepage-intro {
  background-color: transparent;
  background-image: url("img/p4-homepage-header-illo2.png");
  background-repeat: no-repeat;
  background-position: right #{$sp-4};
  background-size: calc(100% - #{$sp-4} + 4px) auto;

  .homepage-intro-illo {
    padding-top: 72%;
    margin-bottom: $sp-2;
  }

  .section-title {
    font-size: 1.75rem;
    margin-bottom: $sp-2;
  }
  @media screen and (min-width: $medium-width) {
    & {
      background-size: 55% auto;
      background-position: right center;
    }

    .section-inner {
      align-items: center;
      display: grid;
      grid-template-columns: 2fr 3fr;
      grid-gap: $sp-2;
    }

    .homepage-intro-text {
      order: -1;
    }

    .section-title {
      font-size: 2rem;
    }
  }
  @media screen and (min-width: $large-width) {
    .section-title {
      font-size: 2.25rem;
    }
  }

  p {
    font-family: var(--font-family-secondary);
    font-size: 18px;
  }

  .btn-container {
    margin-top: $sp-4;
  }
}

#homepage-wordpress {
  background-color: var(--beige-100);

  .section-illo {
    background-image: url("img/p4-illo-wordpress.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top left;
    width: 100%;
    margin-bottom: $sp-2;
    padding-top: 69%;
    transform: scale(1.05);
    @media screen and (min-width: $small-width) and (max-width: $medium-width) {
      background-size: 65%;
      background-position: top center;
      padding-top: calc(69% * 0.65);
    }
  }

  @media screen and (min-width: $medium-width) {
    .section-content {
      display: flex;
      align-content: center;
    }
  }
}

#homepage-campaigns {
  background-image: url("img/p4-illo-campaign_pages.png");
  background-size: 95% auto;
  background-repeat: no-repeat;
  background-position: right top;
  margin-top: $sp-2;

  .section-illo {
    margin-bottom: $sp-2;
    order: 2;
    padding-top: 70%;
    @include medium-and-up {
      margin-top: 0;
      padding-top: 55%;
    }
  }
  @media screen and (min-width: $small-width) and (max-width: $medium-width) {
    background-size: 80% auto;

    .section-illo {
      padding-top: calc(70% * 0.8);
    }
  }
  @include medium-and-up {
    background-size: 48% auto;
    background-position: right center;
    padding-top: 0;
    padding-bottom: 0;

    .section-illo {
      padding-top: calc(70% + 11vw);
    }
  }
}

#homepage-features {
  .section-header {
    @include medium-and-up {
      text-align: center;
    }
  }
}

.features-list {
  display: grid;
  grid-gap: $sp-2;
  grid-template-columns: repeat(1, 1fr);
  margin-top: $sp-8;
  margin-bottom: $sp-4;
  padding-left: 0;

  @include small-and-up {
    grid-gap: $sp-6;
    grid-template-columns: repeat(2, 1fr);
  }

  @include large-and-up {
    grid-template-columns: repeat(3, 1fr);
  }

  .feature {
    list-style-type: none;
    margin-bottom: $sp-2;
  }

  @media screen and (min-width: $small-width) and (max-width: $large-width) {
    li:last-child {
      grid-column: 1 / 3;
      max-width: calc(50% - 16px);
      margin: 0 auto;
    }
  }

  .feature-illo {
    background-color: var(--beige-100);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 4px;
    padding-bottom: 62.5%;
    margin-bottom: $sp-1x;
    @include medium-and-up {
      margin-bottom: $sp-2;
    }
  }

  .feature-illo-builder {
    background-image: url("img/p4-illo-website_builder.png");
  }

  .feature-illo-engagement {
    background-image: url("img/p4-illo-engagement_tools.png");
  }

  .feature-illo-analytics {
    background-image: url("img/p4-illo-analytics.png");
  }

  .feature-title {
    font-size: $font-size-lg;
    margin-top: 0;
    margin-bottom: $sp-1x;
  }

  .feature-learn_more {
    font-family: var(--font-family-secondary);
  }
}

.features-more-container {
  text-align: center;
}

#homepage-resources {
  .resources-list {
    display: grid;
    grid-gap: $sp-4;
    grid-template-columns: repeat(1, 1fr);
    margin-top: $sp-8;
    margin-bottom: $sp-8;
    padding-left: 0;

    @include small-and-up {
      grid-template-columns: repeat(1, 1fr);
    }
    @include large-and-up {
      grid-template-columns: repeat(3, 1fr);
    }

    .resource {
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.16);
      border-radius: 4px;
      list-style-type: none;
      padding: $sp-3;
    }

    .resource-title {
      font-size: $font-size-lg;
      margin-top: 0;
      margin-bottom: $sp-2;
    }

    .resource-learn_more {
      font-family: var(--font-family-secondary);
    }
  }

  .resources-more-container {
    text-align: center;
  }
}

#homepage-testimonials {
  background-color: var(--beige-100);
  background-image: url("img/p4-illo-screenshot.png");
  background-position: right 95%;
  background-repeat: no-repeat;
  background-size: calc(100% - #{$sp-4}) auto;
  padding-bottom: 80%;
  @include small-and-up {
    padding-bottom: $sp-6;
    background-position: 75vw $sp-4;
    background-size: auto 80%;
  }

  @include medium-and-up {
    background-position: 61vw $sp-6;
  }

  .section-inner {
    margin: $sp-2 auto $sp-1x;
    @media screen and (min-width: $small-width) and (max-width: $medium-width) {
      display: grid;
      grid-template-columns: 80% 1fr;

      .section-illo {

        margin-top: 0;
      }
    }
    @include medium-and-up {
      align-items: center;
      display: grid;
      grid-gap: $sp-6;
      grid-template-columns: 3fr 2fr;
    }
  }

  .section-header {
    display: none;
  }

  .testimonial,
  .testimonial blockquote {
    font-family: var(--font-family-secondary);
    margin: 0 auto;
    position: relative;
    max-width: 28em;

    @include large-and-up {
      font-size: var(--font-size-xl--font-family-primary);
    }
  }

  .testimonial blockquote::before {
    content: '"';
    font-size: 2.5rem;
    position: absolute;
    left: -1.5rem;
    font-family: var(--font-family-primary);
    top: -$sp-1;
    line-height: 1;

    @include medium-and-up {
      font-size: 4rem;
      left: -3rem;
      top: -$sp-2;
    }
  }

  .testimonial blockquote::after {
    content: '"';
    font-size: 2.5rem;
    position: absolute;
    font-family: var(--font-family-primary);
    line-height: 1;

    @include medium-and-up {
      font-size: 4rem;
    }
  }

  figcaption {
    align-items: center;
    display: flex;
    font-family: var(--font-family-secondary);
    font-size: $font-size-sm;
    margin-top: $sp-4;
  }

  figcaption img {
    background-color: #aaa;
    border-radius: 100px;
    display: inline-block;
    height: $sp-4;
    margin-right: $sp-1x;
    width: $sp-4;
    @include medium-and-up {
      height: $sp-6;
      margin-right: $sp-2;
      width: $sp-6;
    }
  }
}

#homepage-team {
  .section-inner {
    @include medium-and-up {
      align-items: center;
      display: grid;
      grid-gap: $sp-6;
      grid-template-columns: 2fr 3fr;
    }
  }

  .section-header {
    text-align: left;
    margin-bottom: $sp-1x;
  }

  .section-description {
    display: none;
  }

  .section-content {
    align-items: center;
  }

  .homepage-team-image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: $sp-2;
    margin-top: $sp-4;

    @include small-and-up {
      grid-template-columns: repeat(8, 1fr);
    }

    @include medium-and-up {
      margin: 0;
      grid-gap: $sp-4;
      grid-template-columns: repeat(5, 1fr);
    }

    img {
      border-radius: 50%;
    }
  }
}

#contact {
  background-color: var(--p4-dark-green-800);
  color: #fff;
  margin-bottom: 0;

  .section-inner {
    @media screen and (max-width: $medium-width) {
      padding: $sp-2 0;
    }

    @include medium-and-up {
      display: grid;
      grid-gap: $sp-8;
      grid-template-columns: 4fr 3fr;
    }
  }

  .section-header {
    display: none;
  }

  .contact-intro {
    margin-bottom: $sp-4;
  }

  .contact-headline {
    font-size: var(--font-size-xl--font-family-primary);
    font-family: var(--font-family-primary);
    font-weight: bold;
    line-height: 1.3;
    @include large-and-up {
      font-size: var(--font-size-2xl--font-family-primary);
      line-height: 1.15;
    }
  }

  .contact-lead-para {
    font-size: $font-size-md;
    line-height: 1.6;
  }

  .contact-form {
    @include large-and-up {
      .input-radio-group {
        margin: $sp-2 0 $sp-4;
      }
    }
  }
}
