/* Tweaking and modifying the P4 css */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $white;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  line-height: 1.25;
  font-family: var(--font-family-primary);
}

p, li {
  margin-top: 0;
  @include x-large-and-up {
    font-size: 1.125rem;
  }
}

p {
  margin-bottom: $sp-1x;
  line-height: 1.75rem;
}

p:last-child,
li:last-child,
blockquote:last-child {
  margin-bottom: 0;
}

blockquote {
  font-size: $font-size-lg;
  margin: 0 0 $sp-2;
  max-width: 100%;
}

ul {
  padding-left: 1.5em;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  white-space: nowrap;
  font-family: var(--font-family-button);
  font-size: $font-size-sm;
  line-height: 3;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  padding: 0 $sp-3;
  transition-property: color, background-color, border-color;
  transition-duration: 150ms;
  transition-timing-function: linear;

  &:focus {
    outline: 2px solid rgba(0, 106, 255, 0.4);
    outline-offset: 2px;
  }

  &:focus:not(:focus-visible) {
    outline: 0;
  }

  &:hover,
  &:active,
  &:visited {
    text-decoration: none;
  }
}

.btn-secondary {
  width: auto;
  max-width: 25rem;
  background: transparentize($white, .7);
  border-color: var(--color-border-button--secondary);
  color: var(--color-border-button--secondary);

  &:visited {
    color: var(--p4-dark-green-800);
  }

  &:hover {
    background: var(--color-background-button--secondary-hover);
    border-color: var(--color-background-button--secondary-hover);
    color: $white;
  }

  &:active {
    background: var(--p4-dark-green-800);
    border-color: var(--p4-dark-green-800);
  }
}

.btn-primary {
  background: var(--color-background-button--cta);
  color: var(--color-text-button--cta);
  border-color: transparent;

  &:visited {
    color: var(--color-text-button--cta);
  }

  &:hover,
  &:active {
    background: var(--color-background-button--cta-hover);
    color: var(--color-text-button--cta);
    border: 1px solid transparent;
  }
}

.btn-donate {
  background: var(--gp-green-400);
  color: var(--grey-900);
  min-width: 180px;
  border-width: 1px;
  border-color: transparent;
  line-height: 1.65;

  &:hover {
    background: var(--gp-green-500);
    color: var(--grey-900);
    border: 1px solid transparent;
  }

  &:visited {
    color: var(--grey-900);
  }
}

.btn-container {
  display: flex;
  flex-wrap: wrap;

  .btn {
    margin: 0 $sp-1 $sp-1x 0;
  }
}

nav li {
  list-style-type: none;
}

.expando {
  border-color: rgba(0, 0, 0, 0.1);
  font-family: var(--font-family-primary);
}

.expando-link {
  color: inherit;
  font-weight: bold;
}

.text-center {
  text-align: center;
}

img, iframe, video {
  max-width: 100%;
}

// Extra variables
$mobile-tablet-breakpoint: $medium-width;
$tablet-desktop-breakpoint: $large-width;
